<p</p>Welcome {{username}}.</p><br/>

<p>Thank you for registering to our social media application Scribble.</p>
<p>Before you can login you must have verified your email account.</p>
<p>This will be done by clicking on the following link:<a href="http://localhost:8080/Verification?token={{token}}">Verify</a></p><br/>

<p>When you press on the link you will be redirected to the scribble website. </p>
<p>Once their your account will be verified and you are ready to use the application.</p>

<p>Kind regards,</p>
<p>Team Scribble.</p>

//TODO fix opmaak.